@media screen and (min-width:  0) {
    .container {
        display: grid;
        grid-template-rows: 33.33% 33.33% 33.33% ;
    }
    
}

@media screen and (min-width:  768px) {
    .sobre {
        margin: 3em auto;
        width: 800px;
    } 

}

@media screen and (min-width: 992px){
    .container {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33% ;
    }

}